#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include? "Pods/Target Support Files/Pods-Ventas/Pods-Ventas.profile-ventas.xcconfig"
#include? "Pods/Target Support Files/Pods-Ventas/Pods-Ventas.release-ventas.xcconfig"
#include? "Pods/Target Support Files/Pods-Etransfer/Pods-Etransfer.release-ventas.xcconfig"
#include? "Pods/Target Support Files/Pods-Etransfer/Pods-Etransfer.profile-ventas.xcconfig"
#include? "Pods/Target Support Files/Pods-Etransfer/Pods-Etransfer.release-etransfer.xcconfig"
#include? "Pods/Target Support Files/Pods-Etransfer/Pods-Etransfer.profile-etransfer.xcconfig"
#include? "Pods/Target Support Files/Pods-Ventas/Pods-Ventas.release-etransfer.xcconfig"
#include? "pods/Target Support Files/Pods-Ventas/Pods-Ventas.profile-etransfer.xcconfig"
#include "Generated.xcconfig"
